/* Vector screen styles */

@import "variables.less";

@import "components/common.less";
@import "components/navigation.less";
@import "components/footer.less";
@import "components/externalLinks.less";

#bodyContent.mw-body-content {
	max-width: @content-text-width;
	padding-right: @sidebar-width;
}

.ve-ce-surface.mw-body-content {
	max-width: @content-text-width;
	padding-right: @sidebar-width;
}

.oo-ui-widget .mw-body-content {
	max-width: none;
	padding-right: 1em;
}

.mw-ovase-hoyremarg {
	float: right;
	margin-right: @sidebar-offset;
	padding-left: 1.6em;
	width: auto;
}



