/* Vector screen styles */

@import "variables.less";

@import "components/common.less";
@import "components/navigation.less";
@import "components/footer.less";
@import "components/externalLinks.less";

/* Sidebar CSS */
#bodyContent.mw-body-content {
	max-width: @content-text-width;
	padding-right: @sidebar-width;
}

.ve-ce-surface.mw-body-content {
	max-width: @content-text-width;
	padding-right: @sidebar-width;
}

.oo-ui-widget .mw-body-content {
	max-width: none;
	padding-right: 1em;
}

.mw-ovase-hoyremarg {
	float: right;
	margin-right: @sidebar-offset;
	padding-left: 1.6em;
	width: auto;
}

/* WiTeX CSS  - https://github.com/AndrewBelt/WiTeX */

h1, h2, h3, h4, h5, h6 {
	border: none;
	font-weight: bold;
}

a, a:visited {
	color: #a00;
}

a.new, a.new:visited {
	color: black;
}

ul {
	list-style: disc;
}

#firstHeading, #siteSub {
	text-align: center;
	display: block;
}

#siteSub {
	margin-top: -0.5em;
	margin-bottom: 4em;
}

/* Article Body */

.mw-body-content {
	font-size: inherit;
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: 1.5em;
}

.mw-body {
	padding: 2em 0;
}

.mw-body h1, .mw-body h2, .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6, div#content h1, div#content h2, div#content #firstHeading {
	font-family: inherit;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.mw-body h1, div#content h1 {
	font-size: 2em;
}

.mw-body h2, div#content h2 {
	font-size: 1.5em;
}

.mw-body h3 {
	font-size: 1.2em;
}

.mw-body h4 {
	font-size: 1.1em;
}

.mw-body h5, .mw-body h6 {
	font-size: 1.0em;
}

.mw-body p {
	margin: 0;
}

.mw-body p + p {
	text-indent: 2em;
}

table.ambox {
	margin-bottom: 1em;
}

dl dd {
	/* center definitions (most useful for display equations) */
	text-align: center;
}

span.texhtml {
	/* revert inline math to default font */
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

/* Table of Contents */

#toc, .toc {
	border: none;
	padding: 0;
	background: none;
	font-size: inherit;
	/* span 100% of the width */
	display: block;
}

.mw-body #toc h2, .mw-body .toc h2 {
	font-family: inherit;
	font-size: 1.5em;
}

#toc h2, .toc h2 {
	display: block;
}

#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
	text-align: left;
}

/* Figures */

div.tright {
	margin: 0.5em 0 0.5em 1.5em;
}

div.tleft {
	margin: 0.5em 1.5em 0.5em 0;
}

/* Code */

.mw-code {
	margin: 1em 0;
}

pre, code {
	font-family: "Latin Modern Mono", monospace !important;
}

sup {
	text-indent: 0;
}
