{% extends 'base.html.twig' %}

{% block body %}

<div style="margin-right: 15vw;margin-left: 15vw">
		{% if reform is defined %}
			{{ form_start(reform) }}
			{{ form_widget(reform) }}
			{{ form_end(reform) }}
		{% endif %}
		<br>
	
	<a href="{{ path('deactivate_users') }}" class="btn btn-default" role="button">Deaktiver brukere</a>
</div>

{% endblock %}