{% extends 'base.html.twig' %}

{% block body %}

	<div style="margin-right: 15vw;margin-left: 15vw">
		{% if deform is defined %}
			{{ form_start(deform) }}
			{{ form_widget(deform) }}
			{{ form_end(deform) }}
		{% endif %}
		<br>
	
	<a href="{{ path("activate_users") }}" class="btn btn-default" role="button">Aktiver brukere</a>
	</div>

{% endblock %}