<div class ="header-container" id="big-header-container">
<div class="inner-container">
    <header>
        <div id="logo-box"><img src="/images/ovase_raster_smallest.png"></div>
        <div id="title-box">
            <h1><a href="/"><strong>O</strong>VER<strong>VA</strong>NNS<strong>SE</strong>NTERET</a></h1>
            <h3>OVASE.NO</h3>
        </div>
        <div id="navigation-box">
        	<% if ( user === undefined || user === null) { %>
            <a href="/signin">Logg inn/Registrer</a>
            <% } else {%>
            <a href="#">Logget inn som <%= user.username %></a>
            <% } %>
        </div>
    </header>
    <div id="below-header">
        <section class="infobox">
            <p>Ovase.no skal samle oppdatert informasjon om overvannsløsning og være en felles plattform for fagmiljøer og samfunnsparter for å bidra til at vi effektivt får robust og bærekraftig overvannsinfrastruktur i Norge.</p>
        </section>
        <div class="search" id="index-search">Søk her</div>
    </div>
</div>
</div>