<head>
    <meta charset="utf-8">
    <meta name="description" content="Et knutepunkt for informasjo om overvann">
    <meta name="keywords" content="overvann, vann, avløp, informasjon">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="/normalize.css" rel="stylesheet" type="text/css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>