<div class ="header-container" id="big-header-container">
<div class="inner-container">
    <header>
        <div id="logo-box"><img src="/images/header/ovase_raster_smallest.png" alt="Ovase sin logo"></div>
        <div id="title-box">
            <h1><a href="/"><strong>O</strong>VER<strong>VA</strong>NNS<strong>SE</strong>NTERET</a></h1>
            <h3>OVASE.NO</h3>
        </div>
        <div id="navigation-box">
        	<% if ( user === undefined || user === null) { %>
            <a href="/signin">Logg inn/Registrer</a>
            <% } else {%>
            <a href="#">Logget inn som <%= user.username %></a>
            <% } %> 
        </div>
    </header>
    <div id="below-header-small">
        <div class="search" id="normal-search">Søk her</div>
    </div>
</div>
</div>