<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<%- include header_large.ejs %>
<div class="content-container">
	<div class="inner-container">
		<div id="content">
			<div class="card-box">
				<section class="card">
					<img src="/images/index/Paradigmeskifte-diagram_card_size.png">
					<h3>Fagwiki</h3>
					<p><a href="/wiki/">Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</a></p>
				</section>
				<section class="card">
					<img src="/images/index/Paradigmeskifte-diagram_card_size.png">
					<h3>Fagwiki</h3>
					<p><a href="/wiki/">Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</a></p>
				</section>
				<section class="card">
					<img src="/images/index/Paradigmeskifte-diagram_card_size.png">
					<h3>Fagwiki</h3>
					<p><a href="/wiki/">Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</a></p>
				</section>
			</div>
		</div>
	</div>
</div>
<%- include footer.ejs %>
</body>
</html>