<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<%- include header_large.ejs %>
<div class="content-container">
	<div class="inner-container">
		<div id="content">
			<div class="card-box">
			<!-- bilde pluss overskrift pluss tekst med link -->
			</div>
		    <p>Tekst her</p>
		    <p><a href="/om">Litt om oss</a></p>
		</div>
	</div>
</div>
<%- include footer.ejs %>
</body>
</html>