<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<div id="container">
<%- include header.ejs %>
<div id="content">
    <h2>Om Ovase.no</h2>
    <p>Informasjon kommer her</p>
    <p>Kake er <%= urlparam %></p>
</div>
</div>
</body>
</html>