<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<%- include header.ejs %>
<div class="content-container">
	<div class="inner-container">
		<div id="content">
		    <h2>Om Ovase.no</h2>
		    <p>Informasjon kommer her</p>
		    <p>Kake er <%= urlparam %></p>
		</div>
	</div>
</div>
<%- include footer.ejs %>
</body>
</html>
