<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<%- include header_large.ejs %>
<div id="container">
<%- include header.ejs %>
<div id="content">
    <h2>Om produkter tilpasset overvann</h2>
    <p>Informasjon kommer her</p>
</div>
</div>
<%- include footer.ejs %>
</body>
</html>