<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<div id="container">
<%- include header_nouser.ejs %>
<div id="content">
    <div id="login-box">
        <h2>Logg inn</h2>
        <form method="post" action="/signin">
            <% if(typeof(errorMessage) !== 'undefined') {%>
                <span><%= errorMessage %></span>
            <% } %>
            <p>
                <label for="username">Brukernavn</label>
                <input type="text" name="username" id="username" required="true"/>
            </p>
            <p>
                <label for="password">Passord</label>
                <input type="text" name="password" id="password" required="true"/>
            </p>
            <p>
                <input type="submit" name="signin" id="signin-button" value="Logg inn"/> 
                <a href="/signup" title="register">... eller registrer ny bruker</a>
            </p>
        </form>
    </div>
</div>
</div>
</body>
</html>