/* 
Currently using this palette: 
http://www.colourlovers.com/palette/443995/i_demand_a_pancake
*/

html {
	height:100%;
	box-sizing:border-box
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Ubuntu';
	color: #547980;
	min-height: 100%;
	position: relative;
	margin:0;
	background-image: url("/images/index/Bakgrunn_redusert.jpg");
	background-size: cover;

}


h3 {
	color: #749562;
}


a {
	text-decoration: inherit;
  	font-style: inherit;
  	color: inherit;
	text-decoration:none;
}


.inner-container {
	width:1000px;
}



/* --------- HEADER --------- */

.header-container {
   height:40%;
}

#header-inner {
	background-color:rgba(255,255,255,0.2);
	min-width: 700px;
	margin: auto; 
	padding-top: 2%;
}


@media only screen and (max-width: 1000px){
	
.inner-container {
	width:100% !important;
	min-width: 700px;
}

.content-container h3 {
	font-style: regular;
}

.card-box {
	width: 600px !important;
	margin:auto;
}

}

@media only screen and (max-width: 700px){
	

.card-box {
	width: 100% !important;
}

}



header {
	background-color: rgba(255,255,255,0.9);
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 90%;
	min-width: 700px;
	max-height: 160px;
	min-height:140px;
	margin: auto;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
}

#logo-box {
	margin: auto 1.6em auto 3em;

}

#logo-box img {
	width:92px;
}

#title-box {
	width: 500px;
	margin: auto auto auto 1em;
	margin-bottom:5px;
}

#title-box h1 {
	font-size: 2.2em;
	font-weight: 400;
	margin: auto;
	padding-bottom: 0em;
}

#title-box a {
	color: #24aae1;
	letter-spacing:0.2em;
}

#title-box h3 {
	color: #749562;
	font-size: 3.9em;
	letter-spacing: 0.4em;
	margin-top: 0em;
	margin-bottom:0.2em;
}

#title-box strong {
	font-weight:bold;
}



/* --------- LOWER PART OF HEADER --------- */

#below-header {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	margin-top: 2em;
	padding-bottom: 3em;
}


.infobox {
	background: rgba(255,255,255,0.85);
	width: 60%;
	margin-left: 15em;
	padding: 1em 2em 1em 3em;
	color: black;
	border-bottom-right-radius: 20px;

}

/* --------- CONTENT --------- */


.content-container {
}

.content-container h3 {
	font-weight:200;
}

#content-inner {
	margin: auto; 
	padding-bottom:;
	background:rgba(255,255,255,0.7);
	background: linear-gradient(
	rgba(255,255,255,0.5),
	rgba(255,255,255,0.6),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.6),
	rgba(255,255,255,0.4),
	rgba(255,255,255,0.2)
	);

	
}

#buffer-container {
	margin:auto;
	height: 30px;
}


/* --------- INDEX --------- */

.card-box {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction:row;
	height: 100%;
	width: 100%;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 1em;
	justify-content:space-around;
	flex-wrap:wrap;
}


.card {
	width: 200px;
	margin: 0.5em;
	
}


.card-inactive {
	width: 200px;
	margin: 0.5em;
}

.card h3 {
	color: #666666;
	
	}

.card:hover h3 {
	color: #333333;
}

.card-inactive h3 {
	color: #999999;
}

.card-inactive:hover h3 {
	color: #777777;
}

.card a {
	color: #749562;
	font-weight:200;
}

.card:hover a {
	color: #485D3D;
	font-weight:300;
}

.card-inactive a {
	font-weight:200;
	color: #91AD82;
}
.card-inactive:hover a {
	color:#5C774E;
	font-weight:300;
	}

.image-container {
	height: 150px;
	width: 200px;
	overflow: hidden;
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	box-shadow: 0 0 0px  rgba(1, 1, 1, 0.8);
 	-webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
 	-moz-osx-font-smoothing: grayscale;
  	-webkit-transition-duration: 0.3s;
 	transition-duration: 0.3s;
 	-webkit-transition-property: box-shadow, transform;
 	transition-property: box-shadow, transform;

} 

#wiki {
	  	box-shadow: 0 0 3px  rgba(1, 1, 1, 0.8);
}

#personer img {
	opacity: 0.8;
}
#produkter img {
	opacity: 0.8;
}
	

.card:hover .image-container, .image-container:focus, .image-container-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  
}

.card-inactive:hover .image-container, .image-container:focus, .image-container-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color:#CBCBCB;
}
  
  .hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
}

.image-container img {
	min-width:100%;
	max-width:100%;
	position: relative;
	-webkit-filter: saturate(70%);
	opacity:0.9;
	
}

.image-container:hover img {
	position: relative;
	-webkit-filter: saturate(100%);

}


/* -------- POPUP BOX ---------*/


h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5em auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  top: 10em;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #12a79d;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* --------- FOOTER --------- */



.footer a {
	color: white;
	font-weight:300;

}

.footer-container {
	color: white;
	
}

#footer-inner {
	width: 1000px;
	margin: auto;
	height: 100%;
	
}

.footer {
	height: 100%;
	text-align: right;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;

}

.content-container {
   min-height: 100%;
   position:relative;
}

.footer-container {
   position:absolute;
   bottom:0;
   width:100%;
   height:2em;   /* Height of the footer */
}


/* --------- STICKY FOOTER --------- */



