{% extends 'base.html.twig' %}

{% block body %}


<h1> OM OVASE </h1>
<div id="aboutusDiv">
    <p2 >Ovase er et studentinitiativ med visjon om å bidra til å optimalisere Norges overvannshåndtering. Dette vil vi gjøre ved å utvikle en nettløsning for å bedre kunnskapsflyten, lette samarbeid og gi støtte til å ta avgjørelser innen overvannsområdet, på en måte som er enkel og attraktiv å bruke.
    <br><br>
    Prosjektet begynte våren 2015 og utvikles gjennom fag ved NTNU og på fritiden, med støtte fra fagmiljø og aktører i bransjen. 
    <br><br>
    Arbeidsgruppa består av Guro Heimstad Kleiven, Lars Solberg, Anine Drageset, Peder Voldnes Langdal og Torstein Granskogen (f.v. i bildet). 
    <br><br>
    Spørsmål eller innspill? Ta gjerne kontakt med Anine Drageset.</p2>
    <br>
    <img id="aboutusImg" class="img-responsive center-block" src="{{ asset('static/images/index/ovase_team.jpg') }}" alt="Ovase team">
    <br>

    <p2>Takk til bidragsytere </p2>

    <p style="margin-right: 5vw;margin-left: 5vw">Even Nyhus, Håkon Rygg, Hanne Carine Blom Solheim, Hans Olav Myskja, Ingvild Haneset Nygård og Inger Strøm Flugsrud, Hanna Øian og Kristine Lagesen Richardsen for deltagelse i formingen av fundamentet for Ovase gjennom skoleprosjekt ved NTNU.
    <br><br>
    Silje Sævig, Jonas Laskemoen, Ken Lie, Pål Bergerskogen, Thomas Olsen og Vegard Bugge for et stort bidrag i utviklingen av nettstedet. 
    <br><br>
    Bent Braskerud fra Oslo Kommune VAV og Tone Muthanna, Rita Ugarelli og Sveinung Sægrov ved Institutt for vann- og miljøteknikk ved NTNU for støtte og rådgivning. 
    <br><br>
    Alle vi har vært og er i kontakt med for innspill, råd og tilbakemeldinger underveis.</p>
</div>

{% endblock %}
