/*
Currently using this palette:
http://www.colourlovers.com/palette/443995/i_demand_a_pancake
*/

html {
	height:100%;
	box-sizing:border-box
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Ubuntu';
	color: #547980;
	min-height: 100%;
	position: relative;
	margin:0;
	background-size: cover;

}


h3 {
	color: #749562;
}


a {
	text-decoration: inherit;
  	font-style: inherit;
  	color: inherit;
	text-decoration:none;
}


.inner-container {
	width:1000px;
}



/* --------- HEADER --------- */

.header-container {
   height:40%;
}

#header-inner {
	background-color:rgba(255,255,255,0.2);
	min-width: 700px;
	margin: auto;
	padding-top: 2%;
}


@media only screen and (max-width: 1000px){

.inner-container {
	width:100% !important;
	min-width: 700px;
}

.content-container h3 {
	font-style: regular;
}

.card-box {
	width: 600px !important;
	margin:auto;
}

}

@media only screen and (max-width: 700px){


.card-box {
	width: 100% !important;
}

}



header {
	background-color: rgba(255,255,255,0.9);
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 90%;
	min-width: 700px;
	max-height: 160px;
	min-height:140px;
	margin: auto;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
}

#logo-box {
	margin: auto 1.6em auto 3em;

}

#logo-box img {
	width:92px;
}

#title-box {
	width: 500px;
	margin: auto auto auto 1em;
	margin-bottom:5px;
}

#title-box h1 {
	font-size: 2.2em;
	font-weight: 400;
	margin: auto;
	padding-bottom: 0em;
}

#title-box a {
	color: #24aae1;
	letter-spacing:0.2em;
}

#title-box h3 {
	color: #749562;
	font-size: 3.9em;
	letter-spacing: 0.4em;
	margin-top: 0em;
	margin-bottom:0.2em;
}

#title-box strong {
	font-weight:bold;
}



/* --------- LOWER PART OF HEADER --------- */

#below-header {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	margin-top: 2em;
	padding-bottom: 3em;
}


.infobox {
	background: rgba(255,255,255,0.85);
	width: 60%;
	margin-left: 15em;
	padding: 1em 2em 1em 3em;
	color: black;
	border-bottom-right-radius: 20px;

}

/* --------- MAIN COLOR STYLES --------- */

.style-bgc-grey {
	background-color:#6D6D6D;
}

.style-bgc-lgrey {
	background-color: #E5E5E5 !important;
}

.style-bg-lgrey {
	background-color: #E5E5E5 !important;
}

.style-c-grey {
	color: #6D6D6D;
}

.style-c-lgrey {
	color: #E5E5E5;
}

/* --------- SEARCH-BAR --------- */

.btn-sb-custom {
	margin-top:-1px !important;
	position:absolute !important;
	background:#E5E5E5 !important;
}

/* --------- NAVIGATION-BAR --------- */

.navbar-custom {
	background: #E5E5E5 !important;
	border-bottom: 1px solid #E5E5E5 !important;
	color: #6D6D6D !important;
}

.navbar-custom-btn {
	margin-top: 13px;
	margin-left: 60px;
	background-color: #E5E5E5;
	color: #6F6F6F;
	font-weight: 700;
}

a.navbar-txt {
	color:#6D6D6D !important;
	font-weight: 700;
}

/* --------- FRONT PAGE CARDS --------- */
.fp-card {
	width:40vw !important;
	height:20vw !important;
}

a.fp-card {
	text-decoration: none !important;
	color: black !important;
}

.card-text {
		font-size: 2vw !important;
	}

#fp-icon {
	max-width: 10vw !important;
}

.card-title {
	font-size: 3vw !important;
}

#fp-text {
	margin-left:15vw !important;
}

.card-title {
	padding-top:1vw;
}

@media screen and (max-width: 991px) {
    .fp-card {
		width:80vw !important;
		height:40vw !important;
	}

    .card-text {
		font-size: 4vw !important;
	}

	#fp-icon {
		max-width: 20vw !important;
	}

	.card-title {
		font-size: 6vw !important;
	}

	#fp-text {
		margin-left: 30vw !important;
	}
}


/* ------------ header --------------*/
#header-logo {
	max-width: 45px !important;
}

a.header-text{
	text-decoration: none !important;
	color: grey !important;
}

/* --------- CONTENT --------- */


.content-container {
}

.content-container h3 {
	font-weight:200;
}

#content-inner {
	margin: auto;
	padding-bottom:;
	background:rgba(255,255,255,0.7);
	background: linear-gradient(
	rgba(255,255,255,0.5),
	rgba(255,255,255,0.6),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.7),
	rgba(255,255,255,0.6),
	rgba(255,255,255,0.4),
	rgba(255,255,255,0.2)
	);


}

#buffer-container {
	margin:auto;
	height: 30px;
}


/* --------- INDEX --------- */


/* -------- POPUP BOX ---------*/


h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5em auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  top: 10em;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #12a79d;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* --------- FOOTER --------- */



.footer a {
	color: #6D6D6D;
	font-weight:300;
	background-color: #E5E5E5;

}

.footer-container {
	color: #6D6D6D;
	background-color: #E5E5E5;

}

#footer-inner {
	width: 1000px;
	margin: auto;
	height: 100%;

}

.footer {
	height: 100%;
	text-align: right;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;

}

.content-container {
   min-height: 100%;
   position:relative;
}

.footer-container {
   position:absolute;
   bottom:0;
   width:100%;
   height:2em;   /* Height of the footer */
}


/* --------- STICKY FOOTER --------- */
