/* 
Currently using this palette: 
http://www.colourlovers.com/palette/443995/i_demand_a_pancake
*/


body {
	background-color: #9b8679;
	font-family: 'PT Sans', sans-serif;
	color: #547980;
}

h1 {
	color: #594f4f;
}

h3 {
	color: #45ada8;
}

a {
	text-decoration: none;
	color: #45ADA8;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #45ADA8;
	text-decoration: none;
}

.inner-container {
	width: 950px;
	margin: 0 auto;
}

/* --------- HEADER --------- */


.header-container {
	background-image: url("/images/header/San_Joaquin_River_headwaters_1080.jpg");
	background-position: 50% 50%;
	padding-top: 20px;
}


header {
	background-color: white;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 950px;
	height: 150px;
	margin: auto;
}

#logo-box {
	margin: auto 0.1em auto 0.8em;
}

#title-box {
	width: 400px;
	margin: auto auto auto 1em;
}

#title-box h1 {
	font-size: 2.2em;
	font-weight: 400;
	margin-bottom: 0.2em;
}

#title-box a {
	color: #24aae1;
}

#title-box h3 {
	color: #12a79d;
	font-size: 3em;
	letter-spacing: 0.4em;
	margin-top: 0.2em;
}

#title-box strong {
	font-weight: bold;
	/*color: #1f9dd1; */
}

#navigation-box {
	width: 200px;
	margin: 1em 0 auto auto;
	text-align: right;
}

#navigation-box a {
	margin: 0 20px;
	color: #45ada8;
}

#navigation-box a:hover {
	color: #45ada8;
}

#navigation-box a:visited {
	color: #45ada8;
}

#login-box {
	width: 400px;
	margin: auto;
	color: #547980;
}

#login-box label {
	display: inline-block;
 	width: 140px;
	text-align: right;
}

#login-box a:visited {
	color: #547980;
}

#signin-button {
	width: 100px;
	margin-left: 40px;
}

#signup-box {
	width: 400px;
	margin: auto;
	color: #547980;
}

#signup-box label {
	display: inline-block;
 	width: 140px;
	text-align: right;
}

#signup-box a:visited {
	color: #547980;
}

#signup-button {
	width: 100px;
	margin-left: 40px;
}

/* --------- LOWER PART OF HEADER --------- */

#below-header {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 950px;
	margin-top: 2em;
	padding-bottom: 5em;
}

#below-header-small {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row-reverse;
	width: 950px;
	margin-top: 2em;
	margin-bottom: 0;
	background: rgba(255,255,255,0.85);
	padding: 1em 0;
}

.infobox {
	background: rgba(255,255,255,0.85);
	width: 65%;
	margin: 0 auto;
	padding: 0 1em;
	color: black;
	font-weight: bold;

}

.search {
	background: white;
}

#index-search {
	width: 28%;
	height: 2em;
	margin: 0 auto;
}

#normal-search {
	width: 28%;
	height: 2em;
	margin: 0 2em 0 0;
}

/* --------- CONTENT --------- */

.content-container {
	background-color: white;
}

#content {
	overflow: auto;
}

/* --------- INDEX --------- */

.card-box {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;
	width: 950px;
}

.card {
	width: 300px;
	margin: 1em auto;
	border: 1px solid black;
}

.card h3 {
	margin-left: 1em;
	color: #2d2d2d;
}

.card p {
	margin-left: 1em;
}

.card a {
	color: #12a79d;
}

.person-section {
}

.person-box {
	width: 100%;
	display: -webkit-flex;
 	display: flex;
}

.person-info-box {
	width: 70%;
}

.person-image-box {
	width: 30%;
}

.company-section {
}

.company-box {
	width: 100%;
	display: -webkit-flex;
 	display: flex;
}

.company-info-box {
	width: 70%;
}

.company-image-box {
	width: 30%;
}

.req {
	font-size: 150%;
	color: red;
}

.error-span {
	color: red;
}

/* --------- FOOTER --------- */

footer {
	color: white;
	text-align: right;
}

footer a {
	color: white;
}

footer a:visited {
	color: white;
}