{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}
	<div class="row">
		{#<div class="col-lg-3">#}
			<div class="input-group">
				<input type="text" class="form-control style-bgc-lgrey" style="width:250px;" placeholder="Søk...">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sb-custom glyphicon glyphicon-search" type="button"></button>
				</span>
			</div>
		{#</div>#}
	</div>
	
	<a href="/anlegg/ny">Lag nytt prosjekt</a>

	<p></p>

	{% if message is defined %}
		<p>{{ message }}</p>
	{% endif %}

	{% for project in projects %}
		<p><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>
	{% endfor %}

{% endblock %}


