{% extends 'base.html.twig' %}

{% block title %}
    Anlegg
{% endblock %}

{% block body %}

    <a href="/anlegg/ny">Lag nytt prosjekt</a>

    <p></p>

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}

    {% for project in projects %}
        <p><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>
    {% endfor %}

{% endblock %}


